*,
html {
    padding: 0%;
    margin: 0%;

}


body {
    background:linear-gradient(to right,rgb(0, 0, 0),rgb(255, 255, 255),black)
                                                   ;
    
margin: 0%;
}



.div-mabar {}

.ul-mabar {
    background:linear-gradient(to right,rgb(0, 0, 0),rgb(255, 255, 255),black);
    display: flex;
    
    height: 30vh;
    align-items: center;
    width: 100%;
    
   



}

.li-mabar {

    border-radius: 10px;
    
    
text-align: center;
    list-style-type: none;
    width: 120px;
    color: white;
    padding: 20px;
    margin: 4px;
    background-color: black;
height: 20px;
    text-align: center;
margin-left: 115px;
}

.mysm1 {
    border-radius: 120px;

    list-style-type: none;
    width: 150px;
    color: white;
    padding: 20px;
    margin: 0px;
    background-color: black;

    text-align: center;
margin-left: 100px;
}

.sitelink{
    text-decoration: none;
    background: linear-gradient(to right,white,rgb(87, 85, 85),white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}






.rainbowfont {
    width: 50%;
    height: 50%;
    
    
   
    font-family: sans-serif;
    font-size: 50px;
    background: linear-gradient(to right, #e86a6a,red,red,#e86a6a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    

    position: relative;

    left: 460px;
    top: 400px;
}



.brimstone {

    width: 25%;

    height: 0%;
    margin: 0px;
   

 
    position: relative;
    top: -130px;
    left: 430px;   

}

.phoinex{
    width: 15%;

    height: 0%;
    

 
    position: relative;
    top: -110px;
    left: 390px;
}


  

.fake.smile {

    width: 280px;
    height: 280px;
    border-radius: 150px;
    


position: relative;
top: -50px;
left: -0px;
}